<div class="external-system-container">
  <app-header
    (searchChange)="onSearch($event)"
    (onCreate)="createNewSystem()">
  </app-header>

  <div class="external-system-content">
    <mat-accordion>
      <mat-expansion-panel *ngFor="let system of filteredSystems">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ system.name }}
          </mat-panel-title>
          <div class="system-actions">
            <mat-icon (click)="copySystem(system)" class="action-icon">content_copy</mat-icon>
            <mat-icon (click)="deleteSystem(system)" class="action-icon">delete</mat-icon>
          </div>
        </mat-expansion-panel-header>
  
        <div class="system-content">
          <div class="system-field">
            <div class="system-field-label">
              <mat-label>Name</mat-label>
            </div>
            <mat-form-field appearance="outline" class="input-field">
              <input matInput type="text" />
            </mat-form-field>
          </div>
          <div class="system-field">
            <div class="system-field-label">
              <mat-label>Base URL:</mat-label>
            </div>
            <mat-form-field appearance="outline" class="input-field">
              <input matInput type="text" />
            </mat-form-field>
          </div>
          <div class="system-field">
            <div class="system-field-label">
              <mat-label>Authentication Method:</mat-label>
            </div>
            <mat-form-field appearance="outline" class="input-field-select">
              <mat-select>
                <mat-option *ngFor="let method of authenticationMethods" [value]="method.value">
                  {{ method.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="system-field">
            <div class="system-field-label">
              <mat-label>Key:</mat-label>
            </div>
            <mat-form-field appearance="outline" class="input-field">
              <input matInput type="text" />
            </mat-form-field>
          </div>
          <div class="system-field">
            <div class="system-field-label">
              <mat-label>Value:</mat-label>
            </div>
            <mat-form-field appearance="outline" class="input-field">
              <input matInput type="text" />
            </mat-form-field>
          </div>
          <div class="system-field">
            <div class="system-radio-field-label">
              <mat-label>Authentication Place:</mat-label>
            </div>
            <mat-radio-group class="input-field">
              <mat-radio-button value="header">Header</mat-radio-button>
              <mat-radio-button value="query-parameters">Query Parameters</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
        
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
